USE [master]
GO
/****** Object:  Database [Agenda3]    Script Date: 17/12/2019 09:18:29 ******/
CREATE DATABASE [Agenda3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Agenda3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Agenda3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Agenda3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Agenda3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Agenda3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Agenda3]
GO
USE [Agenda3]
GO
/****** Object:  User [alumno]    Script Date: 17/12/2019 09:18:29 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Amigos]    Script Date: 17/12/2019 09:18:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Amigos](
	[IdAmigo] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Activo] [bit] NULL,
 CONSTRAINT [PK_Amigos] PRIMARY KEY CLUSTERED 
(
	[IdAmigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AmigosEnEventos]    Script Date: 17/12/2019 09:18:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AmigosEnEventos](
	[idEvento] [int] NOT NULL,
	[idAmigo] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Eventos]    Script Date: 17/12/2019 09:18:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Eventos](
	[IdEve] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[TipoEve] [int] NOT NULL,
	[Dia] [date] NOT NULL,
	[Descripcion] [varchar](200) NOT NULL,
	[Activo] [bit] NULL,
	[Destac] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposEve]    Script Date: 17/12/2019 09:18:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposEve](
	[IdTipoEve] [int] IDENTITY(1,1) NOT NULL,
	[NombreT] [varchar](100) NOT NULL,
	[Activo] [bit] NULL,
 CONSTRAINT [PK_TiposEve] PRIMARY KEY CLUSTERED 
(
	[IdTipoEve] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Amigos] ON 

INSERT [dbo].[Amigos] ([IdAmigo], [Nombre], [Activo]) VALUES (1, N'Juan Sator', 1)
INSERT [dbo].[Amigos] ([IdAmigo], [Nombre], [Activo]) VALUES (2, N'Justin Beber', 1)
INSERT [dbo].[Amigos] ([IdAmigo], [Nombre], [Activo]) VALUES (3, N'Zendaya', 1)
SET IDENTITY_INSERT [dbo].[Amigos] OFF
INSERT [dbo].[AmigosEnEventos] ([idEvento], [idAmigo]) VALUES (13, 13)
INSERT [dbo].[AmigosEnEventos] ([idEvento], [idAmigo]) VALUES (13, 14)
INSERT [dbo].[AmigosEnEventos] ([idEvento], [idAmigo]) VALUES (13, 15)
SET IDENTITY_INSERT [dbo].[Eventos] ON 

INSERT [dbo].[Eventos] ([IdEve], [Nombre], [TipoEve], [Dia], [Descripcion], [Activo], [Destac]) VALUES (13, N'Poker en lo de Javo', 13, CAST(N'2019-12-11' AS Date), N'Casa de Javo', 0, 1)
INSERT [dbo].[Eventos] ([IdEve], [Nombre], [TipoEve], [Dia], [Descripcion], [Activo], [Destac]) VALUES (14, N'Poker en lo de Javo', 13, CAST(N'2019-12-08' AS Date), N'Casa de Javo', 1, 0)
INSERT [dbo].[Eventos] ([IdEve], [Nombre], [TipoEve], [Dia], [Descripcion], [Activo], [Destac]) VALUES (15, N'Asado en lo de Kowi', 13, CAST(N'2019-12-08' AS Date), N'bfgh g', 1, 0)
SET IDENTITY_INSERT [dbo].[Eventos] OFF
SET IDENTITY_INSERT [dbo].[TiposEve] ON 

INSERT [dbo].[TiposEve] ([IdTipoEve], [NombreT], [Activo]) VALUES (2, N'Reunion', 1)
INSERT [dbo].[TiposEve] ([IdTipoEve], [NombreT], [Activo]) VALUES (4, N'Juntada', 1)
INSERT [dbo].[TiposEve] ([IdTipoEve], [NombreT], [Activo]) VALUES (6, N'Viaje', 0)
SET IDENTITY_INSERT [dbo].[TiposEve] OFF
/****** Object:  StoredProcedure [dbo].[sp_EditarAmigo]    Script Date: 17/12/2019 09:18:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_EditarAmigo]
	@Id int,
	@Nomb varchar(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	

    
	UPDATE Amigos 
	SET Nombre = @Nomb 
	WHERE IdAmigo = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EditarTipo]    Script Date: 17/12/2019 09:18:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EditarTipo] 
	
@Id int,
@nom varchar(100)
AS
BEGIN
	SET NOCOUNT ON;
	UPDATE TiposEve 
	SET NombreT = @nom
	WHERE IdTipoEve = @Id; 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarAmigo]    Script Date: 17/12/2019 09:18:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_EliminarAmigo]
	@NomA int 
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	UPDATE Amigos 
	SET Activo = 0 
	WHERE IdAmigo = @NomA;
    
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarAmigoEvento]    Script Date: 17/12/2019 09:18:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_EliminarAmigoEvento]
@idAmigo int,
@idEvento int
as
delete from AmigosEnEventos 
where (AmigosEnEventos.idAmigo=@idAmigo)and(AmigosEnEventos.idEvento=@idEvento) 
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarEve]    Script Date: 17/12/2019 09:18:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EliminarEve] 
	
@Id int

AS
BEGIN
	SET NOCOUNT ON;
	UPDATE Eventos 
	SET Activo=0, Destac = 1
	WHERE IdEve = @Id; 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarTipo]    Script Date: 17/12/2019 09:18:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EliminarTipo] 
	
@Id int

AS
BEGIN
	SET NOCOUNT ON;
	UPDATE TiposEve 
	SET Activo=0
	WHERE IdTipoEve = @Id; 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarAmigo]    Script Date: 17/12/2019 09:18:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_InsertarAmigo]
	@NomA varchar(100)
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

   Insert into Amigos (Nombre) Values(@NomA)
   UPDATE Amigos 
	SET Activo = 2
	where Nombre = @NomA
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarTipo]    Script Date: 17/12/2019 09:18:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
CREATE PROCEDURE [dbo].[sp_InsertarTipo] 
@Nom varchar(100)
as
BEGIN
	
	Insert into TiposEve(NombreT) Values(@Nom) 
	Update  TiposEve
	SET Activo = 1 
	WHERE NombreT = @Nom;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_TraerAmigos]    Script Date: 17/12/2019 09:18:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_TraerAmigos]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT* from Amigos
END
GO
/****** Object:  StoredProcedure [dbo].[sp_TraerAmigosXEventos]    Script Date: 17/12/2019 09:18:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_TraerAmigosXEventos]
@idEvento int
as
select Nombre from Amigos inner join AmigosEnEventos on AmigosEnEventos.idAmigo=Amigos.IdAmigo
where AmigosEnEventos.idEvento=@idEvento;
GO
/****** Object:  StoredProcedure [dbo].[sp_TraerCantAmigos]    Script Date: 17/12/2019 09:18:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_TraerCantAmigos]
as
select count(IdAmigo) from Amigos as CantAmigos
GO
/****** Object:  StoredProcedure [dbo].[sp_TraerEve]    Script Date: 17/12/2019 09:18:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_TraerEve]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM Eventos
END
GO
/****** Object:  StoredProcedure [dbo].[sp_TraerTipos]    Script Date: 17/12/2019 09:18:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_TraerTipos]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SELECT * From TiposEve
END
GO
/****** Object:  StoredProcedure [dbo].[sp_TraerUnEven]    Script Date: 17/12/2019 09:18:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_TraerUnEven]
	@id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM Eventos WHERE IdEve = @id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_TraerxTipo]    Script Date: 17/12/2019 09:18:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_TraerxTipo]
	@tipo int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM Eventos WHERE TipoEve = @tipo AND Activo=1
END
GO
USE [master]
GO
