* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



header {
    width: 100%;
}

.navegacion {
    width: 1000px;
    margin: 30px auto;
    background: #fff;
}

    .navegacion ul {
        list-style: none;
        background: #008cff;
    }

.menu > li {
    position: relative;
    display: inline-block;
}

    .menu > li > a {
        display: block;
        padding: 15px 20px;
        color: #353535;
        font-family: 'Rubik', sans-serif;
        text-decoration: none;
    }

.menu li a:hover {
    color: #002a59;
    transition: all .3s;
}
/*Agregar*/
.Agregar {
    width: 100px;
    height: 100px;
}
/* Submenu*/

.submenu {
    position: absolute;
    background: #333333;
    width: 120%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
}

    .submenu li a {
        display: block;
        padding: 15px;
        color: #fff;
        font-family: 'Rubik', sans-serif;
        text-decoration: none;
    }

.menu li:hover .submenu {
    visibility: visible;
    opacity: 1;
}

.social-bar {
    position: absolute;
    right: 0;
    top: 35%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 100;
}

.icon {
    color: #008cff;
    text-decoration: none;
    padding: .7rem;
    display: flex;
    transition: all .5s;
}


h2 {
    text-align: center;
    font-family: 'Rubik', sans-serif;
}
h3 {
    
    font-family: 'Rubik', sans-serif;
    font-size:small
}

body {
    background: #008cff;
}

