* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


header {
    max-width: 1000px;
}


/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: snow;
    padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}

/*Agregar*/
.Agregar {
    width: 100px;
    height: 100px;
}

.icon {
    position: absolute;
    color: snow;
    text-decoration: none;
    padding: .7rem;
    display: flex;
    transition: all .5s;
}


h2 {
    text-align: center;
    font-family: 'Rubik', sans-serif;
}
h3 {
    
    font-family: 'Rubik', sans-serif;
    font-size:small;
}

body {
    background: #ffffff;
}

