@using Agenda3.Models
@{
    ViewBag.Title = "EventosXCategoria";
}


<ul>
    @foreach (Evento UnEvento in ViewBag.Eventos)
    {
        <li>@UnEvento.Nombre</li>
        <li href='@Url.Action("DetalleEve","Home", new { idEvento =UnEvento.IdEve, Nombre = UnEvento.Nombre})'>Detalle del Evento---AQUI</li>
    }
</ul>

