@using Agenda3.Models

@{
    ViewBag.Title = "Home Page";
}

<head>
    <title> Evento Destacada </title>
</head>
<body>
    <ul>
        @foreach (Evento UnEvento in ViewBag.ListarEventos)
        {
                       if (UnEvento.Destac == true)
            {
        <h2 align="center" >@UnEvento.Nombre</h2 align="center">
        <h3 align="center"><a href='@Url.Action("DetalleEve","Home", new { idEvento = UnEvento.IdEve, Nombre = UnEvento.Nombre})'>Detalles </a></h3 align="center">
                
                

            }

        }
        @foreach (Evento UnEvento in ViewBag.ListarEventos)
        {
            if (UnEvento.Destac == false)
            {
                <li>@UnEvento.Nombre</li>
                <a href='@Url.Action("DetalleEve","Home", new { idEvento = UnEvento.IdEve, Nombre = UnEvento.Nombre})'>Detalles </a>
            }
        }


    </ul>

</body>
