@using Agenda3.Models

@{
    ViewBag.Title = "Home Page";
}

<head>
    <title> Evento Destacada </title>
</head>
<body>
    <ul>
        @foreach (Evento UnEvento in ViewBag.ListarEventos)
        {
            if (UnEvento.Destac == true)
            {
                <li>@UnEvento.Nombre</li>

                <a href='@Url.Action("DetalleEve","Home", new { idEvento =UnEvento.IdEve, Nombre = UnEvento.Nombre})'>Detalle del Evento---AQUI</a>

            }
        }

        

    </ul>

</body>
