@using Agenda3.Models

@{
    ViewBag.Title = "Home Page";
}

<head>
    <title> Evento Destacada </title>
</head>
<body>
    @foreach (Evento UnEvento in ViewBag.ListarEventos)
    {
        if (UnEvento.Destac == true)
        {
            <h2 align="center">@UnEvento.Nombre</h2>
            <h3 align="center"><a href='@Url.Action("DetalleEve","Home", new { idEvento = UnEvento.IdEve, Nombre = UnEvento.Nombre})'>Detalles </a></h3>



        }

    }
    <ul style="margin-left:3%">
        @foreach (Evento UnEvento in ViewBag.ListarEventos)
        {

            if (UnEvento.Destac == false)
            {
                <li style="font-size:x-large">@UnEvento.Nombre</li>
                <a href='@Url.Action("DetalleEve","Home", new { idEvento = UnEvento.IdEve, Nombre = UnEvento.Nombre})'>Detalles </a>
            }
        }
                <li> aca iria elcódigo de abajo sin el "li"</li>
    </ul>

    (arroba)foreach (AmigosXEvento UnAmigo in ViewBag.ListarAmigosXEvento)
    {
        <li style="font-size:x-large">(arroba) UnAmigo.Nombre</li>
    }

</body>
