@using Agenda3.Models
@model Amigos



@using (Html.BeginForm("InsertarAmigo", "Backoffice", FormMethod.Post))
{

    <p>Nombre:</p> @Html.TextBoxFor(model => model.Nombre) <br />
    @Html.HiddenFor(model => model.Activo)
    <input type="submit" value="Enviar" />
}
