@using Agenda3.Models
@model Amigos


@using (Html.BeginForm("InsertarAmigo", "Backoffice", FormMethod.Post))
{

<p>Nombre:</p> @Html.TextBoxFor(model => model.Nombre) <br />
<p>Activo:</p> @Html.CheckBoxFor(model => model.Activo) <br />
<input type="submit" value="Enviar" />
}
