@using Agenda3.Models
@model TiposEve


@using (Html.BeginForm("InsertarTipo", "Backoffice", FormMethod.Post))
{

    <p>Nombre:</p> @Html.TextBoxFor(model => model.TipEve) <br />
    <p>Activo:</p> @Html.CheckBoxFor(model => model.Activo) <br />
    <input type="submit" value="Enviar" />
}
