@using Agenda3.Models
@{
    ViewBag.Title = "Amigos";
}

<h2>Amigos</h2>
<ul>
    @foreach (Amigos UnAmigo in ViewBag.ListaAmigos)
    {
        <li>@UnAmigo.Nombre</li>
        <a href="@Url.Action("EditarAmigo", "BackOffice", new { id = UnAmigo.IdAmigo })">Editar</a>
        <a href="@Url.Action("EliminarAmigo", "BackOffice", new { id = UnAmigo.IdAmigo })">Eliminar</a>
    }
</ul>
<a href="@Url.Action("AgregarAmigo", "BackOffice")">Agregar Amigo</a>