@using Agenda3.Models
@{
    ViewBag.Title = "Eventos";
}

<h2>Eventos</h2>
<ul>
    @foreach (Evento UnEvento in ViewBag.ListarEventos)
    {
        <li>@UnEvento.Nombre</li>
        <a href="@Url.Action()">Editar</a>
    }
</ul>
<a href="@Url.Action("AgregarEvento", "BackOffice")">Agregar Evento</a>
