@using Agenda3.Models

@{
    ViewBag.Title = "Back Office";
}


<a href='@Url.Action("Amigos","BackOffice")'>Amigos</a>
<a href='@Url.Action("Eventos","BackOffice")'>Eventos</a>
<a href='@Url.Action("TiposEve", "Backoffice")'>TiposEve</a>