@using Agenda3.Models

@{
    ViewBag.Title = "Back Office";
}


<a href="@Url.Action("Amigos","BackOffice")" title="Amigos" target="_blank"><img  src="~/Content/amigos.jpg" width="300" height="300" /></a>
<a href='@Url.Action("Eventos","BackOffice")' title="Eventos" target="_blank"><img  src="~/Content/eventos.jpg" width="300" height="300"></a>
<a href='@Url.Action("TiposEve", "Backoffice")'title="Tipos" target="_blank"><img  src="~/Content/tipos.jpg" width="300" height="300"></a>