@using Agenda3.Models

@{
    ViewBag.Title = "Back Office";
}


<a href="@Url.Action("Amigos","BackOffice")" title="Amigos" target="_blank"><img class="Agregar" src="~/Content/amigos.jpg" /></a>
<a href='@Url.Action("Eventos","BackOffice")' title="Eventos" target="_blank"><img class="Agregar" src="~/Content/eventos.jpg"></a>
<a href='@Url.Action("TiposEve", "Backoffice")'title="Tipos" target="_blank"><img class="Agregar" src="~/Content/tipos.jpg"></a>