@using Agenda3.Models
@{
    ViewBag.Title = "TiposEve";
}

<h2>Tipos de Eventos:</h2>
<ul>
    @foreach (TiposEve UnTipoEve in ViewBag.ListarTipos)
    {
        <li>@UnTipoEve.TipEve</li>
        <a href="@Url.Action()">Editar</a>
    }
</ul>
<a href="@Url.Action("AgregarTipo", "BackOffice")">Agregar Tipo</a>

