@using Agenda3.Models
@{
    ViewBag.Title = "TiposEve";
}

<h2>Tipos de Eventos:</h2>
<ul>
    @foreach (TiposEve UnTipoEve in ViewBag.ListarTipos)
    {
        <li>@TiposEve.</li>     
    }
</ul>


